html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}
html {
  scroll-behavior: smooth;
}

// html {
//   overflow-x: hidden;
// }
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #242424;
  background-color: #fff;
}
.hidden {
  display: none !important;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}
.title {
  font-size: 40px;
  font-weight: 600;
}
.booking-button {
  text-align: center;
  width: 330px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  background-color: #f6a6bf;
  border: 1px solid #f6a6bf;
  transition: all 0.3s;
  &:hover {
    background-color: transparent;
    color: #f6a6bf;
  }
}
.header {
  overflow-x: hidden;
  padding: 30px 0 25px;
  background-image: url("../img/cloud-1.png"), url("../img/cloud-2.png"), url("../img/cloud-3.png"),
    url("../img/cloud-4.png");
  background-repeat: no-repeat;
  background-position: 28% 20%, 42% 91%, 48% 15%, 63% 98%;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 50px;
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 0 30px;
  }
  &__item {
    font-size: 13px;
    font-weight: 600;
    padding-left: 25px;
    position: relative;
    &_geo {
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        background-image: url(../img/geo.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 15px;
        height: 19px;
        left: 0;
        bottom: 5px;
      }
    }
    &_time::before {
      content: "";
      position: absolute;
      background-image: url(../img/time.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 20px;
      height: 20px;
      left: 0;
      bottom: -3px;
    }
    &_phone {
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        background-image: url(../img/phone.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 20px;
        height: 20px;
        left: 2px;
        bottom: -3px;
      }
    }
  }
  &__button {
    color: #fff;
    background-color: #f6a6bf;
    padding: 20px 30px 20px 70px;
    border-radius: 100px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../img/inst.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 24px;
      height: 24px;
      left: 40px;
      bottom: 17px;
    }
  }
}
.logo-header {
  span {
    display: block;
    margin: 5px 0 0 13px;
    font-weight: 500;
    color: #f6a6bf;
  }
}
.menu {
  &__item {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    span {
      display: block;
      text-align: center;
      font-weight: 500;
    }
    &_rooms {
      top: 180px;
      left: 10px;
      transform: rotate(-22deg);
      span {
        font-size: 16px;
      }
    }
    &_booking {
      top: 65px;
      left: 74px;
      transform: rotate(-15deg);
      span {
        font-size: 9px;
      }
    }
    &_video {
      top: 46px;
      left: 197px;
      span {
        font-size: 10px;
      }
    }
    &_pay {
      font-size: 17px;
      top: 137px;
      left: 285px;
      transform: rotate(13deg);
    }
    &_about {
      font-size: 40px;
      top: 216px;
      left: 156px;
      text-align: center;
      transform: rotate(-10deg);
    }
  }
  &__img {
    &_mob {
      display: none;
    }
  }

  &__list {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../img/seal.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 180px;
      height: 180px;
      top: 315px;
      left: 40px;
    }
  }
}
.promo {
  overflow-x: hidden;
  padding-bottom: 150px;
  &__inner {
    display: flex;
  }
  &__menu-box {
    width: 410px;
  }
  &__content {
    padding: 75px 0 0 30px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../img/header-cats.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 834px;
      height: 370px;
      top: 212px;
      left: 33px;
      z-index: -1;
    }
  }
  &__title {
    font-size: 48px;
    font-weight: 600;
    max-width: 590px;
    width: 100%;
    margin-bottom: 20px;
  }
  &__subtitle {
    font-size: 18px;
  }
  &__dop-info {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../img/leaves.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 431px;
      height: 384px;
      right: -224px;
      top: -325px;
      z-index: -2;
    }
  }
  &__items {
    display: flex;
    gap: 0 75px;
  }
  &__item {
    padding-left: 65px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../img/heart-footprint.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 53px;
      height: 45px;
      left: 0;
    }
    &:nth-child(1) {
      max-width: 316px;
    }
    &:nth-child(2) {
      max-width: 246px;
    }
    &:nth-child(3) {
      max-width: 260px;
    }
  }
}
.form {
  max-width: 230px;
  padding: 35px 0 150px;
  input {
    border: none;
    display: block;
    width: 100%;
    border-bottom: 1px solid #242424;
    padding: 12px;
    margin-bottom: 30px;
    font-size: 16px;
    &::placeholder {
      color: #848484;
    }
  }
  button {
    font-size: 18px;
    color: #fff;
    padding: 18px 26px;
    border-radius: 100px;
    background-color: #f6a6bf;
    cursor: pointer;
  }
}
.rooms {
  padding: 85px 0;
  &__title-box {
    display: flex;
    justify-content: space-between;
    max-width: 945px;
  }
  &__title {
    margin-bottom: 110px;
  }
  &__box-sale {
    width: 283px;
    height: 206px;
    background-image: url(../img/frame.svg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -84px;
  }
  &__frame-sale {
    font-size: 20px;
    font-weight: 600;
    max-width: 172px;
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 40px 30px;
  }
  &__card {
    width: 380px;
    border: 1px solid #f6a6bf;
  }
  &__info-inner {
    margin: 20px 20px 30px 20px;
  }
  &__cost {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__name {
    width: 156px;
    color: #f6a6bf;
    font-weight: 600;
  }
  &__price {
    font-weight: 500;
  }
  &__info {
    padding: 40px 0 67px;
    gap: 25px 0;
    p {
      color: #848484;
    }
  }
  &__size {
    display: flex;
    gap: 0 44px;
    align-items: center;
    margin-bottom: 25px;
  }
  &__house-size {
    display: flex;
    gap: 0 35px;
    align-items: flex-end;
  }
  .swiper-button-left,
  .swiper-button-right {
    position: absolute;
    z-index: 2;
    top: 232px;
    cursor: pointer;
  }
  .swiper-button-right {
    right: 0;
  }
}

.photo-gallery {
  padding: 85px 0;
  &__slider {
    overflow: hidden;
  }

  &__title {
    margin-bottom: 50px;
  }
  .swiper-slide-active {
    img {
      width: 480px !important;
      height: 532px !important;
    }
  }
  .swiper-slide {
    img {
      width: 330px;
      height: 340px;
    }
  }
  &__control {
    position: relative;
    left: 405px;
    top: -70px;
    width: 195px;
    z-index: 2;
  }
  &__swiper-pagination {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    color: #848484;
    left: -64px;
    top: -70px;
  }
  &__buttons {
    display: flex;
    gap: 0 10px;
  }
  &__button {
    cursor: pointer;
    background-color: #f6a6bf;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f6a6bf;
    transition: all 0.3s;
    &:hover {
      path {
        stroke: #f6a6bf;
      }
      background-color: transparent;
    }
  }
}

.conditions {
  padding: 85px 0;
  background-image: url(../img/conditions-bg.svg);
  background-repeat: no-repeat;
  background-position: top left;
  &__title {
    margin-bottom: 70px;
  }
  &__item {
    padding: 40px 0 30px;
    border-top: 1px solid #f6a6bf;
    display: flex;
  }
  &__title-box {
    max-width: 630px;
    width: 100%;
    .conditions__item-list {
      margin-top: 40px;
      max-width: 470px;
      width: 100%;
    }
    .conditions__item-par {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__item-title {
    font-size: 26px;
    font-weight: 600;
    max-width: 368px;
    width: 100%;
  }
  &__title-text {
    max-width: 450px;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    color: #848484;
    margin-top: 30px;
  }
  &__text-box {
    max-width: 535px;
    width: 100%;
    font-size: 18px;
  }
  &__item-text {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item-list {
    font-size: 18px;
  }
  &__item-par {
    margin-bottom: 15px;
    padding-left: 20px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #f6a6bf;
      left: 0;
      bottom: 50%;
      transform: translateY(50%);
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.booking {
  overflow-x: hidden;
  padding: 85px 0;
  &__title {
    margin-bottom: 70px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../img/conditions-bg.svg);
      z-index: -1;
      width: 627px;
      height: 595px;
      left: -124px;
      top: 120px;
    }
  }
  &__inner {
    display: flex;
    align-items: center;
  }
  &__form {
    max-width: 609px;
    width: 100%;
    margin: 0 0 0 auto;
    background-color: #fffef1;
    padding: 60px;
  }
  &__form-inner {
    display: flex;
    gap: 0 40px;
  }
  &__form-input {
    border: none;
    border-bottom: 1px solid #242424;
    background-color: transparent;
    padding: 10px;
    margin-bottom: 50px;
    width: 100%;
    &::placeholder {
      color: #848484;
    }
    &_remark {
      margin-bottom: 70px;
    }
  }
}

.video-control {
  padding: 85px 0;
  overflow-x: hidden;
  &__title-box {
    display: flex;
    justify-content: space-between;
    max-width: 1086px;
    width: 100%;
    margin-bottom: 100px;
  }
  &__descr {
    font-size: 18px;
    max-width: 449px;
    width: 100%;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 55px 36px;
  }
  &__text {
    font-size: 20px;
    line-height: 150%;
    font-weight: 600;
    width: 409px;
    margin-right: 76px;
    margin-bottom: 50px;
    grid-area: 1 / 1 / 1 / 4;
  }
  &__room {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #faf7f5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 600;
    color: #e36f96;
    position: relative;
    cursor: pointer;
    svg {
      position: absolute;
      bottom: -5px;
      right: -15px;
      transition: all 0.4s;
    }
    &:hover {
      svg {
        transform: rotate(-45deg);
        path {
          opacity: 1;
        }
      }
    }
  }
  &__more-mob {
    color: #848484;
    margin: 30px auto 0;
    display: block;
  }
}

.about-us {
  padding: 85px 0 45px;
  overflow-x: hidden;
  &__title-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  &__descr {
    font-weight: 500;
    font-size: 20px;
    max-width: 550px;
    width: 100%;
  }
  &__info {
    display: flex;
    justify-content: space-between;
  }
  &__info-title {
    font-weight: 600;
    font-size: 20px;
    max-width: 397px;
    width: 100%;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../img/about-us_bg.svg);
      width: 417px;
      height: 396px;
      left: -58px;
      top: -82px;
      z-index: -1;
    }
  }
  &__text-box {
    max-width: 550px;
    width: 100%;
  }
  &__info-text {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__offer {
    padding-top: 124px;
  }
  &__offer-title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 70px;
  }
  &__offer-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1164px;
    width: 100%;
    gap: 0 86px;
  }
  &__offer-item {
    font-size: 18px;
    padding-left: 70px;
    margin-bottom: 40px;
    flex: 1 0 calc(50% - 86px);
    position: relative;
    min-width: 450px;
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      content: "";
      position: absolute;
      background-image: url(../img/offer_cat.svg);
      width: 50px;
      height: 50px;
      left: 0;
      bottom: 50%;
      transform: translateY(50%);
    }
    &_dop {
      &::before {
        bottom: 0%;
        transform: translateY(0%);
        top: -10px;
      }
    }
  }
  &__dop-info-item {
    font-size: 16px;
    color: #848484;
    margin-top: 12px;
  }
}

.medical-care {
  padding: 90px 80px 90px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 62px;
  background-color: #fffef1;
  &__title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 25px;
    text-transform: uppercase;
  }
  &__text {
    line-height: 150%;
  }
  &__img-mob {
    display: none;
  }
}
.fears {
  padding-top: 45px;
  &__inner {
    padding: 170px 0 85px;
  }
  &__title {
    margin-bottom: 50px;
  }
  &__subtitle-mob {
    display: none;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 13px;
    color: #848484;
    font-weight: 600;
  }
}

.accordion {
  &__title {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    width: 100%;
    padding: 20px 30px;
    position: relative;
    &::before,
    &::after {
      content: "";
      width: 30px;
      height: 1px;
      background-color: #f6a6bf;
      position: absolute;
      right: 10px;
      top: 30px;
      transition: transform 0.2s ease 0s;
    }
    &::after {
      transform: rotate(-90deg);
    }
  }
  &__text {
    height: 0;
    overflow: hidden;
  }
  &__par {
    display: block;
    padding: 10px 30px;
  }
}
.opened .accordion__text {
  height: auto;
}

.opened .accordion__title:after {
  transform: rotate(0deg);
}

.partnership {
  padding: 85px 0 100px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__info {
    max-width: 490px;
    width: 100%;
  }
  &__info-title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
  }
  &__info-text {
    font-weight: 500;
    font-size: 20px;
  }
  &__partners {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  &__partner {
    background-image: url("../img/partner-bg.png");
    width: 247px;
    height: 247px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      max-width: 200px;
      width: 100%;
    }
  }
}

.contacts {
  padding: 70px 0 80px;
  background-color: #faf7f5;
  &__title {
    margin-bottom: 50px;
  }
  &__address-box {
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
    max-width: 985px;
    width: 100%;
    margin-bottom: 50px;
  }
  &__address {
    font-weight: 500;
    font-size: 20px;
    border: none;
    background-color: transparent;
    width: 100%;
    max-width: 405px;
    cursor: default;
    outline: none;
  }
  &__address-copy {
    font-size: 18px;
    color: #848484;
  }
  &__way {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    gap: 0 15px;
  }
  &__way-title {
    font-weight: 600;
    font-size: 26px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/way-bg.svg");
      width: 249px;
      height: 237px;
      left: -48px;
    }
  }
  &__way-inner {
    display: flex;
    gap: 0 120px;
  }
  &__way-text {
    max-width: 200px;
    width: 100%;
    margin-top: 20px;
  }
}

.footer {
  padding: 30px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__copyright {
    font-weight: 500;
    font-size: 14px;
    color: #28afc9;
  }
  &__menu-list {
    display: flex;
    gap: 0 40px;
  }
  &__menu-link {
    font-weight: 600;
    font-size: 13px;
  }
}

@media (max-width: 1100px) {
  .medical-care {
    padding: 20px 30px;
    gap: 0 20px;
  }
  .contacts{
    &__way-inner{
      gap: 0 40px;
    }
  }
}

@media (max-width: 1060px) {
  .photo-gallery {
    &__slide,
    .swiper-slide,
    .swiper-slide-active {
      width: 330px !important;
    }
    .swiper-slide-active {
      img {
        width: 330px !important;
        height: 340px !important;
      }
    }
    &__control {
      left: 0;
      top: 44px;
      height: 115px;
    }
    &__swiper-pagination {
      top: 0;
      left: -18px;
    }
  }
}

@media (max-width: 1010px) {
  .header {
    background-position: 18% 20%, 38% 91%, 52% 15%, 76% 84%;
    &__list {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px 0;
    }
    &__item {
      &_geo {
        &::after {
          left: -391px;
        }
      }
      &_phone {
        &::after {
          top: -34px;
          left: -141px;
        }
      }
      &_time {
        &::after {
          top: -72px;
        }
      }
    }
    &__button {
      &::after {
        left: -90px;
        top: 56px;
      }
    }
  }
  .promo {
    padding-bottom: 45px;
    &__title {
      font-size: 40px;
      max-width: 471px;
    }
    &__menu-box {
      width: 300px;
      margin: 0 0 0 auto;
      padding-top: 90px;
    }
    &__content {
      order: -1;
      padding: 30px 0 0 0px;
      &::after {
        background-image: url(../img/cat-mob.svg);
        width: 248px;
        height: 179px;
        left: 240px;
      }
    }
    &__dop-info {
      &::after {
        display: none;
      }
    }
    .form {
      padding: 35px 0 40px;
    }
    &__items {
      flex-direction: column;
      gap: 40px 0;
    }
    &__item {
      display: flex;
      align-items: center;
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        max-width: 100%;
      }
    }
  }
  .menu {
    &__item {
      font-size: 15px;
      &_rooms {
        top: 146px;
        span {
          font-size: 12px;
        }
      }
      &_booking {
        top: 43px;
        left: 49px;
        width: 79px;
        word-wrap: break-word;
        span {
          font-size: 10px;
        }
      }
      &_video {
        top: 32px;
        left: 143px;
        span {
          font-size: 12px;
        }
      }
      &_pay {
        font-size: 14px;
        top: 109px;
        left: 222px;
      }
      &_about {
        font-size: 24px;
        top: 184px;
        left: 132px;
      }
    }
    &__link {
      &_booking,
      &_video {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    &__img {
      display: none;
    }
    &__img_mob {
      display: block;
    }
    &__list {
      &::after {
        display: none;
      }
    }
  }
  .conditions {
    &__item {
      flex-direction: column;
    }
    &__item-title {
      margin-bottom: 20px;
    }
    &__title-text {
      margin-top: 0;
      margin-bottom: 20px;
    }
    &__item-img {
      width: 225px;
      order: -1;
      margin-bottom: 30px;
    }
  }
  .booking {
    &__inner {
      flex-direction: column;
    }
    &__form {
      margin: 0 auto;
    }
    &__img {
      margin: 0 auto 40px;
    }
  }
  .booking-button {
    margin: 0 auto;
  }
  .video-control {
    &__title-box {
      flex-direction: column;
      margin-bottom: 0;
    }
    &__title {
      margin-bottom: 30px;
    }
    &__descr {
      margin-bottom: 30px;
    }
    &__inner {
      gap: 25px 25px;
    }
  }
  .about-us {
    &__title-box {
      flex-direction: column;
      margin-bottom: 40px;
    }
    &__title {
      margin-bottom: 30px;
    }
    &__offer-list {
      gap: 0 35px;
    }
  }
  .medical-care {
    &__img {
      display: none;
    }
    &__img-mob {
      display: block;
    }
    &__info {
      order: -1;
    }
  }
  .fears {
    &__inner {
      padding: 100px 0 50px;
    }
  }
  .partnership {
    &__inner {
      flex-direction: column;
      margin: 0 auto;
    }
    &__info {
      margin-top: 30px;
      max-width: 100%;
      display: flex;
      flex-direction: column;
    }
    &__info-title{
      margin-top: 30px;
    }
    &__info-text{
      order: -1;
    }
  }
  .contacts{
    &__way{
      flex-direction: column;
      gap: 30px 0;
    }
    &__way-title{
      &::after{
        display: none;
      }
    }
  }
  .footer{
    &__inner{
      flex-direction: column;
      gap: 20px 0;
    }
    &__menu{
      order: -1;
    }
  }
}

@media (max-width: 790px) {
  .promo {
    &__inner {
      flex-direction: column;
    }
    &__menu-box {
      padding-top: 20px;
      margin: 0 auto;
    }
    &__content {
      order: 1;
      margin: 0 auto;
    }
    &__title {
      max-width: 100%;
    }
  }
  .rooms {
    padding: 35px 0 50px;
  }
  .photo-gallery {
    padding: 50px 0 20px;
  }
  .conditions {
    padding: 50px 0 20px;
  }
  .booking,
  .about-us {
    padding: 50px 0 35px;
  }
  .video-control {
    padding: 35px 0 50px;
  }
  .about-us {
    &__descr {
      max-width: 100%;
    }
    &__info {
      flex-direction: column;
    }
    &__info-title {
      max-width: 100%;
      margin-bottom: 30px;
    }
    &__text-box {
      max-width: 100%;
    }
    &__offer {
      padding-top: 40px;
    }
    &__offer-title {
      margin-bottom: 30px;
    }
  }
  .fears {
    &__title {
      margin-bottom: 0;
    }
    &__subtitle-mob {
      display: block;
    }
  }
  .accordion {
    &__title {
      padding: 20px 0;
      &::before,
      &::after {
        display: none;
      }
    }
    &__par {
      padding: 10px 0;
    }
  }
  .partnership{
    padding: 50px 0 100px;
  }
  .contacts{
    padding: 30px 0;
    &__address-box{
      flex-direction: column;
      gap: 30px 0;
      margin-bottom: 20px;
    }
    &__address-copy{
      margin: 0 auto 0 0;
    }
  }
}

@media (max-width: 680px) {
  .header {
    background-position: 18% 20%, 31% 44%, 66% 37%, 77% 65%;
    padding: 30px 0 10px;
    &__inner {
      flex-direction: column;
      gap: 20px 0;
    }
    &__list {
      align-items: center;
    }
    &__box {
      flex-direction: column;
      gap: 30px 0;
    }
    &__item {
      padding-left: 0;
      padding-top: 25px;
      &_phone {
        order: -1;
        &::before {
          left: 50px;
          bottom: 0;
          top: 0;
        }
      }
      &_geo {
        &::before {
          left: 67px;
          bottom: 0;
          top: 0;
        }
      }
      &_time {
        &::before {
          left: 43px;
          bottom: 0;
          top: 0;
        }
      }
    }
  }
  .promo {
    &__content {
      &::after {
        display: none;
      }
    }
  }
  .rooms {
    &__title-box {
      display: block;
      max-width: 100%;
    }
    &__title {
      margin-bottom: 50px;
    }
    &__box-sale {
      top: -30px;
    }
  }
  .photo-gallery {
    &__button {
      width: 40px;
      height: 40px;
    }
    &__swiper-pagination {
      left: -48px;
    }
    &__control {
      height: 85px;
    }
  }
  .booking {
    &__form {
      padding: 30px 0;
    }
    &__form-inner {
      flex-direction: column;
    }
  }
  .video-control {
    &__room {
      width: 100px;
      height: 100px;
      font-size: 30px;
      svg {
        width: 55px;
        bottom: -15px;
        right: -6px;
      }
    }
    &__inner {
      grid-template-columns: repeat(auto-fit, minmax(139px, 1fr));
    }
  }
  .medical-care {
    flex-direction: column;
    gap: 30px 0;
    padding: 30px 5px 30px 15px;
  }
  .partnership{
    &__partners{
      display: flex;
      flex-direction: column;
      gap: 45px 0;
    }
    &__partner{
      background-image: none;
      width: 100%;
      height: 100%;
      padding-left: 80px;
      position: relative;
      &::before{
        position: absolute;
        content: '';
        background-image: url('../img/partner-bg_mob.svg');
        width: 73px;
        height: 60px;
        left: 0;
      }
    }
  }
  .contacts{
    &__title{
      margin-bottom: 30px;
    }
    &__way{
      margin-top: 30px;
    }
    &__way-inner{
      flex-direction: column;
      gap: 40px 0;
    }
  }
  .footer{
    &__menu-list{
      flex-direction: column;
      gap: 20px 0;
    }
  }
}

@media (max-width: 490px) {
  .header {
    background-position: 18% 20%, 21% 47%, 73% 37%, 90% 65%;
  }
  .title {
    font-size: 20px;
  }
  .promo {
    &__title {
      font-size: 25px;
      margin-bottom: 30px;
    }
    &__subtitle {
      font-size: 20px;
      font-weight: 500;
    }
  }
  .rooms {
    &__info-inner {
      margin: 0;
    }
    &__frame-sale {
      font-size: 18px;
      font-weight: 400;
      max-width: 155px;
    }
    &__box-sale {
      margin: 0 auto;
    }
    &__card {
      width: 280px;
      margin: 0 auto;
    }
    &__cost {
      font-size: 18px;
      flex-direction: column;
      align-items: flex-start;
      padding: 15px 0 0 15px;
    }
    &__name,
    &__price {
      font-weight: 400;
      width: 100%;
      margin-bottom: 20px;
    }
    &__info {
      padding: 0 0 30px 15px;
    }
    &__size,
    &__house-size {
      flex-direction: column;
      align-items: flex-start;
      gap: 5px 0;
    }
    .swiper-button-left,
    .swiper-button-right {
      top: 175px;
      padding: 0 10px;
    }
  }
  .booking-button {
    width: 260px;
    height: 55px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
  }
  .photo-gallery {
    &__title {
      margin-bottom: 30px;
    }
    &__slide,
    .swiper-slide,
    .swiper-slide-active {
      width: 240px !important;
      height: 265px !important;
    }
    .swiper-slide,
    .swiper-slide-active {
      img {
        width: 240px !important;
        height: 265px !important;
      }
    }
  }
  .conditions {
    &__title,
    &__item-text {
      margin-bottom: 20px;
    }
    &__item {
      padding: 15px 0 30px;
      &:first-child {
        border-top: none;
        padding: 0 0 30px;
      }
    }
    &__item-title {
      font-size: 18px;
      font-weight: 400;
    }
    &__title-text,
    &__text-box,
    &__item-list {
      font-size: 16px;
      font-weight: 400;
    }
    &__item-img {
      margin: 0 auto 30px;
    }
    &__title-box {
      .conditions__item-list {
        margin-top: 0;
      }
    }
  }
  .video-control {
    &__room {
      width: 80px;
      height: 80px;
      font-size: 20px;
      svg {
        width: 50px;
        bottom: -15px;
        right: -10px;
      }
    }
    &__inner {
      grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
    }
    &__descr {
      font-size: 16px;
    }
    &__text {
      margin-right: 0;
      margin-bottom: 0;
      width: 100%;
      font-weight: 400;
      font-size: 16px;
    }
  }
  .about-us {
    &__offer-item {
      min-width: 100%;
    }
    &__descr {
      font-size: 16px;
      font-weight: 400;
    }
    &__info-title {
      font-size: 18px;
      font-weight: 400;
    }
    &__offer-title {
      font-size: 18px;
      font-weight: 400;
    }
    &__offer-item {
      margin-bottom: 20px;
      font-size: 14px;
      padding-left: 40px;
      &::before {
        background-image: url("../img/offer_cat-mob.svg");
        width: 35px;
        height: 35px;
      }
    }
    &__dop-info-item {
      font-size: 14px;
      margin-top: 5px;
    }
  }
  .medical-care {
    &__title {
      font-size: 20px;
    }
  }
  .fears {
    &__inner {
      padding: 50px 0;
    }
    &__subtitle-mob {
      margin-bottom: 30px;
    }
  }
  .accordion {
    &__title {
      font-size: 16px;
      font-weight: 600;
    }
    &__par {
      font-size: 14px;
    }
  }
  .partnership{
    &__info-title{
      font-size: 18px;
      font-weight: 400;
    }
    &__info-text{
      font-size: 16px;
      font-weight: 400;
    }
    &__partner{
      line-height: 30px;
    }
  }
  .contacts{
    &__address-box{
      gap: 20px 0;
    }
    &__address{
      font-size: 14px;
      font-weight: 400;
    }
    &__way-title{
      font-size: 18px;
      font-weight: 400;
    }
    &__address-copy{
      font-size: 16px;
    }
    &__way{
      gap: 20px 0;
    }
  }
}

@media (max-width: 400px) {
  .video-control {
    overflow-x: hidden;
    &__room {
      width: 80px;
      height: 80px;
      font-size: 20px;
      svg {
        width: 48px;
        bottom: -15px;
      }
    }
    &__inner {
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
      gap: 25px 12px;
    }
  }
}

@media (max-width: 340px) {
  .menu {
    &__img_mob {
      width: 270px;
      margin: 0 auto;
    }
    &__item {
      &_rooms {
        top: 143px;
        left: 20px;
      }
      &_booking {
        top: 48px;
        left: 57px;
        span {
          font-size: 12px;
          width: 66px;
          word-wrap: break-word;
        }
      }
      &_video {
        top: 41px;
        left: 148px;
        span {
          font-size: 13px;
          width: 60px;
          display: block;
          word-wrap: break-word;
        }
      }
      &_pay {
        top: 110px;
        left: 211px;
      }
      &_about {
        top: 178px;
        left: 130px;
      }
    }
  }
}
