html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}
html {
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #242424;
  background-color: #fff;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}
.title {
  font-size: 40px;
  font-weight: 600;
}
.booking-button {
  text-align: center;
  width: 330px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  background-color: #f6a6bf;
  border: 1px solid #f6a6bf;
  transition: all 0.3s;
  &:hover {
    background-color: transparent;
    color: #f6a6bf;
  }
}
.header {
  padding-top: 30px;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 50px;
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 0 30px;
  }
  &__item {
    font-size: 13px;
    font-weight: 600;
    padding-left: 25px;
    position: relative;
    &_geo::before {
      content: "";
      position: absolute;
      background-image: url(../img/geo.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 15px;
      height: 19px;
      left: 0;
      bottom: 5px;
    }
    &_geo::after {
      content: "";
      position: absolute;
      background-image: url(../img/cloud-1.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 185px;
      height: 68px;
      top: -31px;
      left: -97px;
    }
    &_time::before {
      content: "";
      position: absolute;
      background-image: url(../img/time.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 20px;
      height: 20px;
      left: 0;
      bottom: -3px;
    }
    &_time::after {
      content: "";
      position: absolute;
      background-image: url(../img/cloud-2.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 110px;
      height: 37px;
      top: 26px;
      left: 116px;
    }
    &_phone::before {
      content: "";
      position: absolute;
      background-image: url(../img/phone.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 20px;
      height: 20px;
      left: 0;
      bottom: -3px;
    }
    &_phone:after {
      content: "";
      position: absolute;
      background-image: url(../img/cloud-3.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 91px;
      height: 30px;
      top: -14px;
      left: 101px;
    }
  }
  &__button {
    color: #fff;
    background-color: #f6a6bf;
    padding: 20px 30px 20px 70px;
    border-radius: 100px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../img/inst.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 24px;
      height: 24px;
      left: 40px;
      bottom: 17px;
    }
    &::after {
      content: "";
      position: absolute;
      background-image: url(../img/cloud-4.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 204px;
      height: 68px;
      left: 140px;
      top: 80px;
    }
  }
}
.logo-header {
  span {
    display: block;
    margin: 5px 0 0 13px;
    font-weight: 500;
    color: #f6a6bf;
  }
}
.menu {
  &__item {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    position: relative;
    span {
      display: block;
      text-align: center;
      font-weight: 500;
    }
  }
  &__link {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #28afc9;
    &_rooms {
      transform: rotate(-41deg);
      top: 150px;
      left: 0;
      width: 110px;
      height: 138px;
      clip-path: ellipse(47.03% 50% at 50% 50%);
      flex-direction: column;
      span {
        font-size: 18px;
      }
    }
    &_booking {
      transform: rotate(-27deg);
      width: 113px;
      height: 137px;
      clip-path: ellipse(47.03% 50% at 50% 50%);
      top: 39px;
      left: 56px;
      flex-direction: column;
      span {
        font-size: 9px;
      }
    }
    &_video {
      width: 113px;
      height: 145px;
      clip-path: ellipse(47.03% 50% at 50% 50%);
      transform: rotate(2deg);
      top: 16px;
      left: 178px;
      flex-direction: column;
      span {
        font-size: 10px;
      }
    }
    &_pay {
      font-size: 17px;
      width: 110px;
      height: 133px;
      clip-path: ellipse(47.03% 50% at 50% 50%);
      transform: rotate(22deg);
      top: 68px;
      left: 295px;
    }
    &_about {
      font-size: 40px;
      text-align: center;
      transform: rotate(-14deg);
      background-color: transparent;
      background-image: url(../img/foot.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 256px;
      height: 225px;
      left: 100px;
      top: 166px;
    }
  }
  &__list {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../img/seal.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 180px;
      height: 180px;
      top: 315px;
      left: 40px;
    }
  }
}
.promo {
  padding-bottom: 150px;
  &__inner {
    display: flex;
  }
  &__menu-box {
    width: 410px;
  }
  &__content {
    padding: 75px 0 0 30px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../img/header-cats.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 834px;
      height: 370px;
      top: 212px;
      left: 33px;
      z-index: -1;
    }
  }
  &__title {
    font-size: 48px;
    font-weight: 600;
    max-width: 590px;
    margin-bottom: 20px;
  }
  &__subtitle {
    font-size: 18px;
  }
  &__dop-info {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../img/leaves.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 431px;
      height: 384px;
      right: -224px;
      top: -325px;
      z-index: -2;
    }
  }
  &__items {
    display: flex;
    gap: 0 75px;
  }
  &__item {
    padding-left: 65px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../img/heart-footprint.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 53px;
      height: 45px;
      left: 0;
    }
    &:nth-child(1) {
      max-width: 316px;
    }
    &:nth-child(2) {
      max-width: 246px;
    }
    &:nth-child(3) {
      max-width: 260px;
    }
  }
}
.form {
  max-width: 230px;
  padding: 35px 0 150px;
  input {
    border: none;
    display: block;
    width: 100%;
    border-bottom: 1px solid #242424;
    padding-bottom: 12px;
    margin-bottom: 30px;
    font-size: 16px;
    &::placeholder {
      color: #848484;
    }
  }
  button {
    font-size: 18px;
    color: #fff;
    padding: 18px 26px;
    border-radius: 100px;
    background-color: #f6a6bf;
    cursor: pointer;
  }
}
.rooms {
  padding: 85px 0;
  &__title-box {
    display: flex;
    justify-content: space-between;
    max-width: 945px;
  }
  &__title {
    margin-bottom: 110px;
  }
  &__box-sale {
    width: 283px;
    height: 206px;
    background-image: url(../img/frame.svg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -84px;
  }
  &__frame-sale {
    font-size: 20px;
    font-weight: 600;
    max-width: 172px;
  }
  &__cards {
    display: flex;
    gap: 0 30px;
  }
  &__card {
    width: 380px;
    border: 1px solid #f6a6bf;
  }
  &__info-inner {
    margin: 20px 20px 30px 20px;
  }
  &__cost {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__name {
    width: 156px;
    color: #f6a6bf;
    font-weight: 600;
  }
  &__price {
    font-weight: 500;
  }
  &__info {
    padding: 40px 0 67px;
    gap: 25px 0;
    p {
      color: #848484;
    }
  }
  &__size {
    display: flex;
    gap: 0 44px;
    align-items: center;
    margin-bottom: 25px;
  }
  &__house-size {
    display: flex;
    gap: 0 35px;
    align-items: flex-end;
  }
  .swiper-button-left,
  .swiper-button-right {
    position: absolute;
    z-index: 2;
    top: 232px;
    cursor: pointer;
  }
  .swiper-button-right {
    right: 0;
  }
}

.photo-gallery {
  padding: 85px 0;
  &__slider {
    overflow-x: hidden;
  }

  &__title {
    margin-bottom: 50px;
  }
  .swiper-slide-active {
    img {
      width: 480px !important;
      height: 532px !important;
    }
  }
  .swiper-slide {
    img {
      width: 330px;
      height: 340px;
    }
  }
  &__control {
    position: relative;
    margin-left: 405px;
    margin-top: -70px;
    width: 195px;
    z-index: 2;
  }
  &__swiper-pagination {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    color: #848484;
    left: -64px;
    top: -70px;
  }
  &__buttons {
    display: flex;
    gap: 0 10px;
  }
  &__button {
    cursor: pointer;
    background-color: #f6a6bf;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f6a6bf;
    transition: all 0.3s;
    &:hover {
      path {
        stroke: #f6a6bf;
      }
      background-color: transparent;
    }
  }
}

.conditions {
  padding: 85px 0;
  background-image: url(../img/conditions-bg.svg);
  background-repeat: no-repeat;
  background-position: top left;
  &__title {
    margin-bottom: 70px;
  }
  &__item {
    padding: 40px 0 30px;
    border-top: 1px solid #f6a6bf;
    display: flex;
  }
  &__title-box {
    max-width: 630px;
    width: 100%;
    .conditions__item-list {
      margin-top: 40px;
      max-width: 470px;
      width: 100%;
    }
    .conditions__item-par {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__item-title {
    font-size: 26px;
    font-weight: 600;
    max-width: 368px;
    width: 100%;
  }
  &__title-text {
    max-width: 450px;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    color: #848484;
    margin-top: 30px;
  }
  &__text-box {
    max-width: 535px;
    width: 100%;
    font-size: 18px;
  }
  &__item-text {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item-list {
    font-size: 18px;
  }
  &__item-par {
    margin-bottom: 15px;
    padding-left: 20px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #f6a6bf;
      left: 0;
      bottom: 50%;
      transform: translateY(50%);
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.booking {
  padding: 85px 0;
  &__title {
    margin-bottom: 70px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../img/conditions-bg.svg);
      z-index: -1;
      width: 627px;
      height: 595px;
      left: -124px;
      top: 120px;
    }
  }
  &__inner {
    display: flex;
    align-items: center;
  }
  &__form {
    width: 609px;
    margin: 0 0 0 auto;
    background-color: #fffef1;
    padding: 60px;
  }
  &__form-inner {
    display: flex;
    gap: 0 40px;
  }
  &__form-input {
    border: none;
    border-bottom: 1px solid #242424;
    background-color: transparent;
    padding-bottom: 10px;
    margin-bottom: 50px;
    width: 100%;
    &::placeholder {
      color: #848484;
    }
    &_remark {
      margin-bottom: 70px;
    }
  }
}

.video-control {
  padding: 85px 0;
  &__title-box {
    display: flex;
    justify-content: space-between;
    max-width: 1086px;
    width: 100%;
    margin-bottom: 100px;
  }
  &__descr {
    font-size: 18px;
    max-width: 449px;
    width: 100%;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 55px 36px;
  }
  &__text {
    font-size: 20px;
    line-height: 150%;
    font-weight: 600;
    width: 409px;
    margin-right: 76px;
    margin-bottom: 50px;
    grid-area: 1 / 1 / 1 / 4;
  }
  &__room {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #faf7f5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 600;
    color: #e36f96;
    position: relative;
    cursor: pointer;
    svg {
      position: absolute;
      bottom: -5px;
      right: -15px;
      transition: all 0.4s;
    }
    &:hover {
      svg {
        transform: rotate(-45deg);
        path {
          opacity: 1;
        }
      }
    }
  }
}

.about-us {
  padding: 85px 0 45px;
  &__title-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  &__descr {
    font-weight: 500;
    font-size: 20px;
    max-width: 550px;
    width: 100%;
  }
  &__info {
    display: flex;
    justify-content: space-between;
  }
  &__info-title {
    font-weight: 600;
    font-size: 20px;
    max-width: 397px;
    width: 100%;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../img/about-us_bg.svg);
      width: 417px;
      height: 396px;
      left: -58px;
      top: -82px;
      z-index: -1;
    }
  }
  &__text-box {
    max-width: 550px;
    width: 100%;
  }
  &__info-text {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__offer {
    padding-top: 124px;
  }
  &__offer-title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 70px;
  }
  &__offer-box {
    display: flex;
    justify-content: space-between;
    gap: 0 86px;
    padding-right: 40px;
  }
  &__offer-item {
    font-size: 18px;
    padding-left: 70px;
    margin-bottom: 40px;
    position: relative;
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      content: "";
      position: absolute;
      background-image: url(../img/offer_cat.svg);
      width: 50px;
      height: 50px;
      left: 0;
      bottom: 50%;
      transform: translateY(50%);
    }
    &_dop {
      &::before {
        bottom: 0%;
        transform: translateY(0%);
        top: -10px;
      }
    }
  }
  &__dop-info-item {
    font-size: 16px;
    color: #848484;
    margin-top: 12px;
  }
}

.medical-care {
  padding: 90px 80px 90px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 62px;
  background-color: #fffef1;
  &__title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 25px;
    text-transform: uppercase;
  }
  &__text {
    line-height: 150%;
  }
}
.fears {
  &__inner {
    padding: 170px 0 85px;
  }
  &__title {
    margin-bottom: 50px;
  }
}

.accordion {
  &__title {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    width: 100%;
    padding: 20px 30px;
    position: relative;
    &::before,
    &::after {
      content: "";
      width: 30px;
      height: 1px;
      background-color: #f6a6bf;
      position: absolute;
      right: 10px;
      top: 30px;
      transition: transform 0.2s ease 0s;
    }
    &::after {
      transform: rotate(-90deg);
    }
  }
  &__text {
    height: 0;
    overflow: hidden;
  }
  &__par {
    display: block;
    padding: 10px 30px;
  }
}
.opened .accordion__text {
  height: auto;
}

.opened .accordion__title:after {
  transform: rotate(0deg);
}

.partnership {
  padding: 85px 0 100px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__info {
    max-width: 490px;
    width: 100%;
  }
  &__info-title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
  }
  &__info-text {
    font-weight: 500;
    font-size: 20px;
  }
  &__partners {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  &__partner {
    background-image: url("../img/partner-bg.png");
    width: 247px;
    height: 247px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      max-width: 200px;
      width: 100%;
    }
  }
}

.contacts{
  padding: 70px 0 80px;
  background-color: #FAF7F5;
  &__title{
    margin-bottom: 50px;
  }
  &__address-box{
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
    max-width: 985px;
    width: 100%;
    margin-bottom: 50px;
  }
  &__address{
    font-weight: 500;
    font-size: 20px;
    border: none;
    background-color: transparent;
    width: 100%;
    max-width: 405px;
    cursor: default;
    outline: none;
  }
  &__address-copy{
    font-size: 18px;
    color: #848484;
  }
  &__way{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    gap: 0 145px;
  }
  &__way-title{
    font-weight: 600;
    font-size: 26px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      background-image: url('../img/way-bg.svg');
      width: 249px;
      height: 237px;
      left: -48px;
    }
  }
  &__way-inner{
    display: flex;
    gap: 0 120px;
  }
  &__way-text{
    max-width: 200px;
    width: 100%;
  }
}

.footer{
  padding: 30px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__copyright{
    font-weight: 500;
    font-size: 14px;
    color: #28AFC9;
  }
  &__menu-list{
    display: flex;
    gap: 0 40px;
  }
  &__menu-link{
    font-weight: 600;
    font-size: 13px;
  }
}